<!-- <ion-header>
  <ion-toolbar>
    <ion-title>readyVideo</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
  

</ion-content> -->

<div id="content">
  <img [src] = 'srcImg' alt="">
  <div class="mask"></div>
  <div class="continer">
    <div class="videoTitle">{{videoCurrentInfo.coursename}}</div>
    <div class="videoName">教练：{{videoCurrentInfo.coach}}</div>
 
    <div class="videoType">
 
      <div class="typeItem" *ngFor="let item of videoCurrentInfo.coursetags">{{item}}</div>
    </div>

    <img [src] = 'videoCurrentInfo.banner' alt="">
    <div class="cont">{{videoCurrentInfo.courseinfo}}</div>

    <!-- <div class="btn">课程下载中…</div> -->
  </div>
</div>
