// @function rem($px){
//   @return $px/($designWidth/20) + rem
// }
@function rem($px){
    @return $px/7.5 + vw
}
$designWidth : 750;
#cotent{
    position: relative;
    width: 100%;
    height: 100%;
    >img{
        width: 100%;
        height: 100%;
        position: fixed;
        filter: blur(8px) ;
    }
    .mask{
       width: 100%;
       height: 100%;
       position: fixed;
       z-index: 10;
       opacity: .5;
       background: #000000;
    //    background: rgba(0,0,0,.5);
    }
    // >ion-item{
    //     --background:none;
    //     --color:#fff;
    //     // --min-height:130px;
    //     --padding-bottom:30px;
    //     --padding-top:30px;
    //     --padding-end:30px;
    //     --padding-start:30px;

    // }
    >.login{
        width: 100%;
        height: 100%;
        z-index: 100;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 rem(60);
        >.logo{
            width: rem(200);
            height: rem(110);
            margin-bottom: rem(50);
        }
        >.title{
            font-size:rem(56);
            font-family:PingFangSC-Semibold,PingFang SC;
            font-weight:600;
            color:rgba(255,255,255,1);
            line-height:rem(56);
            text-align: center;
        }
        >.borderBoxWhite{
            margin-top: rem(60);
            width:rem(640);
            height:rem(718);
            background:linear-gradient(180deg, #ffffff 0%,rgba(102,104,116,0) 100%);
            display: flex;
            align-items: center;
            padding:rem(10);
            box-sizing: border-box;
            border-top-left-radius: rem(42);
            border-top-right-radius: rem(42);
            >.borderBox{
                width:100%;
                height:100%;
                background:linear-gradient(180deg,rgba(131,134,152,1) 0%,rgba(102,104,116,0) 100%);
                border-top-left-radius: rem(35);
                border-top-right-radius: rem(35);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                >.code{
                    width: rem(440);
                    height: rem(440);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    >ngx-qrcode{
                        width: 100%;
                        height: 100%;
                    }
                    margin-bottom: rem(30);
                }
                >.codeTitle{
                    font-size:rem(40);
                    font-family:PingFangSC-Medium,PingFang SC;
                    font-weight:500;
                    color:rgba(255,255,255,1);
                    line-height:rem(40);
                    text-align: center;
                }
            }
        }
    }
    >.continer{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 100;
        // padding: 0 rem(60);
        >.userBox{
            margin-top: rem(20);
            box-sizing: border-box;
            display: flex;
            align-items: center;
            padding: rem(30) rem(30);
            margin-bottom: rem(20);
            // border-bottom: rem(1) solid #979797;
            >.imgHeader{
                width: rem(130);
                height: rem(130);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: rem(3) solid #979797;
                margin-right: rem(40);
                >img{
                    width: rem(110);
                    height: rem(110);
                    border-radius: 50%;
                }
            }
            >span{
                font-size:rem(56);
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(255,255,255,1);
            }
            >ion-icon{
                margin-left: auto;
            }
        }
        >.segment{
            // padding: 0 rem(60);
            ion-label{
                font-size: rem(36);
            }
        }
        >.videoList{
            width: 100%;
            box-sizing: border-box;
            margin-top: rem(50);
            // padding: 0 rem(60);
            >div{
                width: rem(650);
                height: rem(216);
                // background:#494955;
                border-radius:rem(20);
                padding:rem(40);
                display: flex;
                margin: 0 auto rem(30);
                justify-content: center;
                flex-direction: column;
                box-sizing: border-box;
                position: relative;
                >img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                }
                >.name{
                    font-size:rem(36);
                    font-family:PingFangSC-Medium,PingFang SC;
                    font-weight:500;
                    color:rgba(255,255,255,1);
                    line-height:rem(40);
                    margin: rem(0) 0 rem(12) 0;
                    
                }
                >.coach{
                    font-size:rem(28);
                    font-family:PingFangSC-Medium,PingFang SC;
                    font-weight:500;
                    color:#CCCCCC;
                    line-height:rem(30);
                    // margin: rem(0);
                }
                .info{
                    font-size:rem(28);
                    font-family:PingFangSC-Light,PingFang SC;
                    font-weight:300;
                    color:rgba(204,204,204,1);
                    line-height:rem(28);
                    margin-top: rem(28);
                    >span{
                        margin-right: rem(30);
                    }
                }
            }
        }
    }
}
