<!-- <ion-header>
  <ion-toolbar>
    <ion-title>training</ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- (onPlayerReady)="onPlayerReady($event)" -->
<div id="content">
  <vg-player class="player"  (onPlayerReady)="onPlayerReady($event)">
    <!-- <vg-scrub-bar class="videoBar">
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar> -->
    <vg-controls class="videoBar" *ngIf="volumeState">
      <vg-volume  class="video-control-voice"></vg-volume>
    </vg-controls>
    <vg-time-display class="videoTime" vgProperty="current" vgFormat="mm:ss"></vg-time-display>


    <vg-buffering></vg-buffering>
    <vg-overlay-play></vg-overlay-play>

    
      <video [vgMedia]="media" #media [vgMaster]="true" id="masterVideo" preload="auto" poster="https://img.cdn.powerpower.net/5e8ecc9fe4b0b9999a226a7e.png">
        <source src="http://localhost:5000/BA_Laura_v2.mp4" type="video/mp4">
      </video>
  
      <div class="vidCon">
                  
         <div class="dataBPMBox">
            <div class="BPMLeftBox">
  
              <div class="BPMLeft">
                <div class="BPMTitle">
                    <ion-icon slot="start" name="flame" color="danger"></ion-icon>
                    <ion-text color="light">CAL</ion-text>
                </div>
                <div class="BPMData" [ngStyle]="{fontSize: changeFontSize}">{{totalCal}}</div>
              </div>
              <div class="BPMLeft">
                  <div class="BPMTitle">
                      <ion-icon slot="start" name="heart" color="danger"></ion-icon>
                      <ion-text color="light">BPM</ion-text>
                  </div>
                  <div class="BPMData">{{currentBPM}}</div>
              </div>
  
            </div>
            
  
            <div class="BPMRight">
               <div class="progress" #myProgress>
                   <div class="currentPoint" [ngStyle]="currentReptObj"></div> 
                   <div class="targetPoint" [ngStyle]="progressReptObj" >
                    <div><span *ngIf="progressReptObj.width">REACH</span></div>
                   </div>
               </div>
            </div>
         </div>
  
  
          <div class="userList">
              <div class="userItem" *ngFor="let item of userList">
                <img src="https://img.cdn.powerpower.net/5e202c1ae4b0e8c8916c0773.png" />
                <div>{{item.name}}</div>
              </div>
              <div class="userCount">
                  <ion-icon slot="start" name="person" color='light'></ion-icon>
                  <ion-text color="light">90</ion-text>
              </div>
          </div>
      </div>
      <div class="timeDown">
         <span [ngClass]="{animate: timeDown == item}" *ngFor="let item of [5,4,3,2,1,0]">{{timeDown}}</span>
  
      </div>
  </vg-player>
</div>
